/* carousel */

.about-container {
  display: grid;
  grid-template-columns: 35% 44%;
  column-gap: 4rem;
  margin-bottom: 50px;
  height: max-content;
}

.about-img {
  /* margin: -50px; */
  background-color: transparent;
}

.about-img img {
  background-color: transparent;

  border-radius: 0.5rem;
  margin: 2rem 0rem;
}

.shadow {
  font-size: 50px;
}
.big-h1 {
  position: relative;
  text-align: center;
  font-size: 80px;
  color: #6b6b6b2b;
  top: 130px;
  left: 8px;
  z-index: -1;
}

.home p {
  padding: 1rem 5rem;
  font-size: 20px;
  color: #3e3d3d;
}

.about .main-content {
  background-color: white;
  /* border: 2px solid rgb(11, 10, 10); */
  padding-bottom: 4rem;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  border-radius: 2rem;
  margin-top: 30px;
  height:100%;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  justify-content: flex-start;
}
.about .main-content .intro-1,
.intro-2,
.intro-3 {
  color: #000000;
  font-size: 19px;
  padding-left: 1rem;
}
.about .main-content .intro-1 {
  text-align: center;
  padding: 2rem;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.826);
  font-weight: bolder;
}

.about-button .about-btn {
  position: absolute;
  padding: 0.7rem 1rem;
  border-radius: 1rem;
  border: none;
  /* text-align: center; */
  color: white;
  background-color: #d4770d;
  font-weight: bold;
   font-size: 17px;
  font-weight: bold;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin: 25px;
  transition: all 0.4s;
}

.hidden {
  display: none;
}

@media (max-width: 912px) {
  .about-container {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }

  .about-img img {
    display: block;
    width: 400px;
    border-radius: 0.5rem;
    margin: 0 30%;
  }

  .about .main-content {
    margin: 0px 3rem;
    padding: 4rem;
  }

  .about-button {
    margin-top: 5rem;
  }
}

@media (max-width: 576px) {
  .about-modal {
    width: 100%;
  }

  .about .main-content {
    margin: 0px 2rem;
    padding: 1rem;
  }
  .about-button {
    padding: 10% 16%;
  }
  .about-button .about-btn {
    font-size: 15px;
    padding: 0.5rem;
    font-weight: 100;
  }

  .about-img img {
    margin: 2rem 0rem;
  }
}
