/*font*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tangerine:wght@400;700&display=swap');



:root {
  --hue-color: 224;
  --first-colors: hsl(224, 89%, 60%);
  --second-colors: hsl(224, 56%, 12%);
  --font-color-1: white;
  --font-color-2: #ff8800;
  --first-color: #ffbd39;
  --second-color: hsl(224, 56%, 12%);
  --box-shadow:  ;
}

/* basic*/

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: var(--normal-font-size);
  color: white;
  background-color: rgb(9, 8, 8);
}

.theme {
  position: relative;
  display: block;
  width: 60px;
  height: 30px;
  background-color: #222020;
  border-radius: 20px;
  transition: all 0.5s;
  box-shadow: inset 0 3px 20px rgba(0, 0, 0, 1),
    inset 0 1px 1px rgba(0, 0, 0, 1), inset 0 -5px -1px rgba(0, 0, 0, 1);
}
.theme .dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(252, 249, 249);
  transform: scale(0.9);
  box-shadow: inset 0 5px 30px rgb(28, 25, 25),
    inset 0 300px 117px rgb(101, 98, 98), inset 0 -2px 2px rgb(88, 86, 86);
  transition: 0.5s;
}
.theme.active {
  background-color: #bfbdbd;
}
.theme.active .dark {
  left: 30px;
  box-shadow: inset 0 5px 30px rgb(27, 25, 25),
    inset 0 300px 117px rgb(101, 98, 98), inset 0 -2px 2px rgb(88, 86, 86);
}
h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section-title {
  position: relative;
  font-size: 50px;
  color: var(--font-color-1);
  text-align: center;
}
.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  margin-left: 1rem;
  margin-right: 1rem;
}
.header {
  width: 100%;
  position: fixed;
  background-color: rgb(10, 9, 9);
  top: 0;
  left: 0;
  padding: 0;
  z-index: 101;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  color: white;
 }

/*===== NAV =====*/

.nav {
  width: 100%;
  height: 4rem;
  display: flex;
  font-family: "Poppins", sans-serif;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
 
}

.tomtech {
  color: white;
  font-size: 30px;
  font-weight: 1000;
  font-family: "roboto";
  /* text-shadow: 2px 3px 1px rgb(255, 255, 255); */
}
.tomtech span {
  font-family: "Tangerine";
   color: rgb(220, 137, 12);
   font-size: 60px;
}

@media (max-width: 912px) {
  .nav-toggle {
    display: block;
    cursor: pointer;
  }
  .nav-top {
    background-color: rgb(22, 20, 20);
  }
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: fixed;
    bottom: -100%;
    width: 100%;
    height: 50%;
    left: 0;
    padding: 2rem;
    transition: 0.5s;
  }
  .nav-item {
    display: none;

    transition: all ease-in-out 0.3s;
  }
   

  .nav-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }
  .nav-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    transition: all ease 0.3s;
  }

  .nav-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    transition: all ease 0.3s;
  }
  .nav-menu.active {
    bottom: 0;
    left: 0;
    background-color: #060505dc;
    animation: animate 1.5s ease-in-out 1 forwards;

  }
  .nav-menu.active .nav-item
  {
       display: block;
  }
  .nav {
    position: fixed;
    display: flex;
    z-index: 10;
    bottom: 0;
    justify-content: space-around;
    background-color: black;
    width: 100%;
  }
  .home-img {
    position: absolute;
    z-index: -1;
    width: 290px;
  }
  .home-data {
    margin-left: 10%;
  }

  .media-link .media-icon {
    font-size: 3rem;
  }
}
@media (max-width: 768px) {
  .home {
    padding-left: 10%;
    padding-top: 20%;
  }
  .home .home-img {
    position: absolute;
    width: 300px;
    top: 0;
  }
}
.bar { 
  display: block;
  width: 30px;
  margin-top: 4px;
  height: 4px;
  background-color: #f4f4f4;
}
.nav-toggle > .bar :hover {
  background-color: #414141;
}

.nav-item {
  margin-bottom: 2rem;
  animation: animate 1s ease-in-out 1 forwards;
  opacity: 0;
}
.nav-list .nav-item a {
  color: #ecebeb;
  font-size: 19px;
}

.nav-list .nav-item a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px; /* Border thickness */
  background-color: #ff8800; /* Border color */
  transition: width 0.3s ease-in-out; /* Animation properties */
  margin: 0 auto; /* Center the line */
}

.nav-list .nav-item a:hover::after {
  width: 100%; /* Expands to full width on hover */
}
.nav-list .nav-item a:hover {
  position: relative;
  color: #414141;
  top: 2px;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-toggle {
  color: var(--second-color);
  font-size: 3.5rem;
  cursor: pointer;
  border: 2px solid rgb(37, 36, 36);
  padding:.6rem;
  border-radius: 5px;  
}


/*   HOME   */

.home {
  position: relative;
  width: 100%;
  row-gap: 3rem;
  
 }

.home-data {
  margin-top: 30px;
  
}
.home-title {
  font-size: 48px;
  margin-bottom: 2.5rem;
  animation: animate 1s ease-in-out 1 forwards;
  opacity: 0;
}
.home-title-color {
  color: var(--first-color);
}
.media-link {
  display: flex;
  flex-direction: row;
   
}
.media-icon {
  width: max-content;
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-size: 4rem;
  color: rgb(232, 230, 230);
  transition: all ease-in-out 0.2s;
}
.media-icon:hover {
  color: var(--first-color);
  padding: 4px;
}
.home-img {
  position: absolute;
  right: 0;

  margin-top: 100px;
  width: 400px;
  animation: animate 1s ease-in-out 1 forwards;
  opacity: 0;
}
.home-img img {
  border-bottom-right-radius: 120px 90px;
  border-top-left-radius: 200px 180px;
  animation: animate 1s ease-in-out 1 forwards;
  opacity: 0;
}

/*BUTTONS*/
.buttons .button {
  display: inline-block;
  color: #fff;
  padding: 0.2rem 1.7rem;
  border-radius: 2.5rem;
  transition: 0.3s;
  font-size: 30px;
  border:none;
  margin-left: 10px;
  box-shadow: rgba(59, 58, 58, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  animation: animate 1.5s ease-in-out 1 forwards;
  opacity: 0;

}

#btn1 {
  background-color: var(--first-color);
  color: rgb(29, 25, 25);
}

#btn2 {
  background-color: rgb(8, 7, 7);
  color: white;
  border: 1px solid white;
}

.button:hover {
  position: relative;
  box-shadow: 0px 10px 36px rgba(31, 29, 29, 0.15);
  padding: 4px 10px;
}

/* home contact info */
  
.overlays {
  position: absolute;
  background-color: rgba(23, 48, 86, 0.689);
  opacity: 0.8;
  z-index: 900;
  width: 100%;
  height: 1000%;
  filter: blur(0px);
}
.home-contact {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  position: absolute;
  z-index: 1300;
  background-color: #060505;
  display:flex;
  flex-direction: column;
   top: 20px;
    padding:0 1rem ;
  width:400px;
  border-radius: 10px;
  left: 130px;
}
.home-contact input,.home-contact textarea
{
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    border: none;
  
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    animation: animate 1s ease-in-out 1 forwards;
    opacity: 0;
}
.close
{
  position: absolute;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 30px;
    top: 15px;
    right: 30px;

}
.close:hover
{
   color: #686868;
}

.home .qoute-conatiner
{
   position: absolute;
   color: #b77b46;
   z-index: 100;
   bottom: -10%;
   animation: animate 1.7s ease-in-out 1 forwards;
   opacity: 0;
}

 
/* ===== SKILLS =====*/
.skills__container {
  row-gap: 2rem;
  text-align: center;
  animation: animate 1s ease-in-out 1 forwards;
  opacity: 0;
}
.skills__subtitle {
  margin-bottom: 1rem;
}
.skills__text {
  margin-bottom: 2rem;
}
.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: 600;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  box-shadow: 2px 4px 25px rgba(14, 36, 49, 0.15);
  
}
.skills__icon {
  font-size: 2rem;
  margin-right: 1rem;
  color: var(--first-color);
}
.skills__names {
  display: flex;
  align-items: center;
}

.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: -10;
}
.skills__html {
  width: 95%;
}
.skills__css {
  width: 85%;
}
.skills__js {
  width: 65%;
}

.skills__ux {
  width: 85%;
}

.skills__react {
  width: 50%;
}
.skills__img {
  border-radius: 0.5rem;
}

/* ===== WORK =====*/
.work__container {
  padding: 2rem;
  row-gap: 2rem;
  /* box-shadow: rgba(32, 32, 33, 0.25) 0px 30px 60px -12px inset,
    rgba(5, 7, 14, 0.945) 0px 18px 36px -18px inset; */
    animation: animate 1s ease-in-out 1 forwards;
    opacity: 0;
}
.work__img {
  position: relative;
  box-shadow: rgba(36, 34, 34, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;  border-radius: 0.5rem;
  overflow: hidden;
  display: block;
  animation: animate 1s ease-in-out 1 forwards;
  opacity: 0;
 }
 .work-btn 
 {
    display: flex;
    gap: 1rem;
    margin:17px 10px;
    justify-content: center;
  
  }
 .work-btn  a
 {
  background-color: #fd8e10c0;
   border-radius: 10px;
   border:1px solid white;
   padding: 0.4rem 3rem;
   transition: all ease-in-out .4s;
}
.work-btn  a:hover
 {
  background-color: #d88321;
  border-radius: 10px;
  padding: .3rem 2rem;
   color: black;
}
.work__img img {
  /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
  width: 100%;
  height: 300px;
  border-radius: 10px;
  transition:all ease-in-out 1s;
  animation: animate 1s ease-in-out 1 forwards;
  opacity: 0;
}
.work__img img:hover {
  transform: scale(1.1);
}

.work__img .work-overlay
{ 
   position: absolute;
   top: 100%;
   font-size: 25px;
   font-weight: bolder;
    color: white;
   background-color: #000000a3;
   width: 100%;
   height: 81%;
   text-align: center;
   padding-top: 40%;
   transition: all ease-in-out .8s;
   z-index: 10;
}
 .work__img:hover .work-overlay
{
  /* position: absolute; */
   top:0;
}

/* freelance  */

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 6rem 20rem;
  box-shadow: 0rem 2rem 4rem rgb(19, 19, 18);

}
.container .button-f {
  position: relative;
  background-color: #fe9318;
  padding: 0.6rem 1.5rem;
  border-radius: 2rem;
  outline: none;
  border: none;
  font-size: 18px;
  color: black;
  margin-top: 20px;
  width: 200px;
  left: 25%;
  box-shadow: 0rem 2rem 4rem rgb(19, 19, 18);
  transition: all ease-in-out 0.3s;
   animation: animate 1s ease-in-out 1 forwards;
  opacity: 0;
  /* top: 25%; */
}
.container .button-f:hover {
  position: relative;
  padding: 0.5rem 0.8rem;
  color: #c36a05;
  color: white;
}

.container .row .col h2 {
  font-size: 40px;
}
.container .row .col h2 span {
  color: #ffa514;
}
.container .row .col {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container .row .col p {
  color: #bfbdbd;
}

/* ===== CONTACT =====*/
.contact {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.contact__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact__container img {
  margin-left: 100px;
  width: 300px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border-radius: 30px;
  animation: animate 1s ease-in-out 1 forwards;
  opacity: 0;
}

.contact__input {
  width: 100%;
   font-size: var(--normal-font-size);
  font-weight: 600;
  border: 1px solid white;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: 2rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: all ease-in-out .3s;
  animation: animate 1s ease-in-out 1 forwards;
  opacity: 0;
}
.contact__input:hover {
  padding: 1.1rem;
}
.contact__button {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: bolder;
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
  background-color: #ff8800;
  color: black;
  box-shadow: 0rem 2rem 2rem rgb(19, 19, 18);
  transition: all ease-in-out 0.3s;
  animation: animate 1.2s ease-in-out 1 forwards;
  opacity: 0;
}
.contact__button:hover {
  padding: 1.1rem;
}

/* ===== FOOTER =====*/
.footer {
  background-color: #0f0f0f;
  color: #fff;
  font-weight: 600;
  position: relative;
  padding: 2rem;
}

.footer i {
  color: #686868;
}
.footer__title {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  padding: 1rem;
  color: white;
}
.footer .row {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  justify-content: space-around;
  align-items: baseline;
  margin-bottom: 10px;  
}
.footer .row .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.footer .row .item .heading {
  color: rgb(124, 122, 122);
}

.footer .row .item ul {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}
.footer .row .item ul li:hover,
a:hover {
  padding: 2px;
  color: #686868;
}
.footer .copy {
  text-align: center;
  color: #686868;
  margin-top: 60px;
}

/* scroll up */
.scroll
{
   position: fixed;
   font-size: 30px;
   bottom: 70px;
   width: 40px;
   height: 40px;
   border: 1px solid rgb(228, 225, 225);
   border-radius: 20px;
   text-align: center;
   left: 0;
   box-shadow: 0rem 2rem 2rem rgb(19, 19, 18);

}

/* ===== MEDIA QUERIES=====*/
@media screen and (max-width: 576px) {
  .footer .row {
    display: flex;
    flex-direction: column;
    grid-template-columns: 100%;
    align-items: flex-start;
  }
.home
{
    padding-left: 0;
}
  .home .home-title {
    font-size: 30px;
    margin-bottom: 2.5rem;
  }

  .media-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .buttons .button {
    display: inline-block;
    padding: 0.4rem 1rem;
    font-size: 18px;
  }
   
.home .qoute-conatiner
{
   
 position: absolute;
 top: 80%;
}
.container .row .col h1
{
   font-size: 30px;
}

}
@media screen and (max-width: 320px) {
  .home {
    row-gap: 2rem;
  }
  .home__img {
    width: 200px;
  }
  .footer .row {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
  }
}
@media screen and (min-width: 576px) {
  .home {
    padding: 4rem 0 2rem;
  }
  .media-link {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .media-icon {
    margin-bottom: 0;
    margin-right: 2rem;
  }
  .home__img {
    width: 300px;
    bottom: 25%;
  }
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }
  .skills__container {
    grid-template-columns: 0.7fr;
    justify-content: center;
    column-gap: 1rem;
  }
  .work__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding-top: 2rem;
  }

  .contact__form {
    width: 360px;
    padding-top: 2rem;
  }
  .contact__container {
    justify-items: center;
  }
  .footer .row {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
  }
}
@media screen and (min-width: 912px) {
  body {
    margin: 0;
  }
  .section {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: 3rem;
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }

  .nav {
    position: relative;
    bottom: 0;
  }
  .nav-list {
    display: flex;
    padding-top: 0;
  }
  .nav-item {
    margin-left: 3rem;
    margin-bottom: 0;
  }
  .nav-toggle {
    display: none;
  }
  .nav-link {
    color: var(--second-color);
  }
  .home {
    padding: 8rem 0 2rem;
  }
  .home__img {
    width: 400px;
    bottom: 10%;
  }
  .about__container {
    padding-top: 2rem;
  }
  .about__img img {
    width: 300px;
  }
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }
  .work__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
  .footer .row {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }
}
@media screen and (min-width: 992px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    padding: 10rem 0 2rem;
  }
  .home__img {
    width: 450px;
  }
}

@media (max-width: 696px) {
  .container {
    text-align: center;
    padding: 10rem 0rem;
  }
  .contact__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact__container img {
    margin-right: 100px;
    width: 300px;
  }
}

@media (max-width: 990px) {
  .container {
    text-align: center;
    padding: 8rem 10rem;
  }
}

@keyframes animate {
  from{
     opacity: 0;
     transform: translate(0,100px);
     filter: blur(33px);
  }
  to{
    opacity: 1;
    transform: translate(0);
  }
  
}


