
body.active{
    background-color: rgba(113, 157, 191, 0.057);
    color:black;
  
  }
  body.active .header {
    background-color:  rgb(254, 254, 254);
     box-shadow: 4px 4px 4px rgb(130, 130, 130);
     color: rgb(16, 14, 14);
  }
  body.active .nav{
    background-color:  rgb(254, 254, 254);
    box-shadow: 4px -4px -4px black;
    }
  body.active .nav-list .nav-item a{
    color: rgb(69, 63, 63);
  }
  body.active .nav-toggle
  {
    background-color: rgb(255, 255, 255);
   }
   body.active .nav-toggle li
   {
     color: black;
   }
  body.active .tomtech
  {
    color: rgb(69, 63, 63);
  }
  body.active .button{
     border: 2px solid rgb(225, 225, 225);
 
 }
  body.active .buttons #btn1{
     background-color: var(--first-colors);
     color: #ecebeb;
  }
  body.active .buttons #btn2
  {
     background-color: rgb(255, 140, 0);
     color: rgba(0, 0, 0, 0.817);
  }
  
  body.active .home-title {
    font-size: 50px;
    margin-bottom: var(--mb-5);
  }
  body.active .home-title-color {
    color: var(--first-colors);
  }
  body.active .media-icon{
     color: rgba(16, 15, 15, 0.756);
  }
  body.active .media-icon:hover{
    color: rgb(4, 4, 4);
 }

 body.active .nav-menu.active li a {
  bottom: 0;
  left: 0;
  color: rgb(252, 252, 252);
 }
 body.active .shadow
 {
      color:rgba(24, 21, 21, 0.767);
      font-size: 60px;
 }

 body.active  .work-btn  a

 {
    background-color: var(--first-colors);
 }

 











 /* skill section white mode css */
 
body.active .skills__bar{
  
  background-color: var(--first-colors);
}
body.active .skills__icon 
{
  color:var(--first-colors);
}

/* freelance */
body.active .container .row .col h2 span {
  color: var(--first-colors);
}
/* contact */

body.active .contact__button 
{
   background-color: var(--first-colors);
   color: white;
}


/* footer  */
body.active .footer {
  background-color:var(--first-colors);;
  color: #fff;
    padding:3rem 1rem;
}